.aboutus{
	/* background:#7AF76C; */
}
.content-img{
	margin:100px auto;
}
.banner-img{
	
	/* width:100%; */
}
.banner-contact{
	margin-top:-20px;
}
.contact-div{
	padding-left:50px;
}

.contact-div h1,.contact-div h3{	
	font-family:"Î¢ÈíÑÅºÚ",Georgia,Serif;
	font-size:22px;
	color:#000000;
	font-weight:bold;	
}

.contact-div h1{	
	font-size:26px;
}
.contact-div h3{	
	font-size:20px;
}

.contact-div div{
	display:inline-block;
}


.contact-div div img{
	position:absolute;
	top:0;
	right:30px;
}

#allmap {
	width: 98%;
	height: 300px;
	overflow: hidden;
	margin:50px auto;
	font-family:"Î¢ÈíÑÅºÚ";
}

.qr-code{
	margin-top:10px;
	height:250px;
}