.content{
	position:absolute;
	top:66px;
	width:100%;	
}
.content .setting{
/* 	background-color: #fafafa;
    border: 1px solid #c9ccd0;
    border-radius: 6px;
    box-shadow: 0 0 7px rgba(200, 200, 200, 0.75); */
    font-size: 12px;
    margin: 0px auto 0;
    overflow: hidden;
    padding: 30px 125px;
    position: relative;
}
.content .textHeader{
	text-align:center;	
}
.modifyForm{
	margin-top:30px;
}
.modifyForm{
	width:500px;
	height:296px;
	padding-left:10%;
}
