.detail{
    margin: 0 auto;
    position: relative;
}

.detail .block {
  /*   background-color: #fafafa;
    border: 1px solid #c9ccd0;
    border-radius: 6px; */
   /*  box-shadow: 0 0 7px rgba(200, 200, 200, 0.75); */
    font-size: 12px;
    margin: 66px auto 0;
    overflow: hidden;
    padding: 30px 125px;
    position: relative;
}

.detail .welcome{
    text-align: center;
    font-size: 18px;
}

.detail-form {
    max-width: 500px;
    padding: 30px;
    margin: 0 auto;
}

.userNavMenuA {
    background-clip: padding-box;
    background-color: #ffffff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);    
    float: right;  
    display:none;
    margin-right:10px;
    min-width: 160px;
    z-index: 1000;
    opacity: 1;
}
.userNavMenuA li a {
    color: #666;
    display: block;
    padding: 8px 7px;
}
.userNavMenuA li a:hover {
    background-color: #75c8e6;
    color: #fff;
    text-decoration: none;
}

.userNav{
    position: fixed;
    top: 66px;
    width: 100%;
    z-index: 100;   
}

.btn-file{
	background-color:#3696E9;
	color:#fff;
}

#checkForOther,#inputIsCompany{
	margin-top:8px;
}



