.section-intro{
	margin:20px auto;
	background:#AAAAAA;
}

.news-con{
	
}

.news-pic{
	display:inline-block;
}

.news-view{
	display:inline-block;
	position:absolute;
	top:20px;
}

.news-pic img{
	 vertical-align:baseline;
}

.news-link {
    width: 100%;
    padding-top: 4px;
}

.news-link li {
    height: 50px;
    padding: 10px 0;
    margin-bottom: 4px;
    margin-top:20px;
}

.news-link li.hover {
    background: #005bac
}

.news-link li.hover .news-date {
    border-right: 1px solid #4d8dc5
}

.news-link li.hover .news-date span {
    color: #AAAAAA
}

.news-link li.hover .news-date strong {
    color: #AAAAAA
}

.news-link li.hover .news-item {
    color: #AAAAAA
}

.news-link li.hover .news-item a:hover {
    color: #AAAAAA
}


.channel-title {
    height: 35px;
    line-height: 35px;
   /*  border-bottom: 1px solid #e6e6e6; */
    margin-bottom: 15px;
}

.channel-title span {
    height: 33px;
    line-height: 33px;
    color: #222222;
    font-size: 18px;
    font-weight: bold;
    font-family: "Microsoft YaHei";
    border-bottom: 2px solid #005bac;
    padding: 0 5px;
    float: left
}

.channel-title a {
    width: 39px;
    height: 33px;
    line-height: 33px;
    float: right;  
    color:#000;
    font-size:18px;
    margin-left:30px;
}

.news-date {
    width: 79px;
    height: 50px;
    border-right: 1px solid #f0f0f0;
    float: left
}

.news-date span {
    width: 100%;
    height: 35px;
    line-height: 35px;
    display: block;
    text-align: center;
    color: #005bac;
    font-size: 30px;
    font-weight: bold;
    font-family: "Microsoft YaHei";
}

.news-date strong {
    width: 100%;
    height: 15px;
    line-height: 15px;
    text-align: center;
    display: block;
    color: #222222;
    font-size: 14px;
}

.news-item {   
    line-height: 20px;
    padding: 5px 15px;
    color: #ababab;
    float: left
}

.news-item a {
    color: #222222;
}


.index{
	background:#DFDFDF;
}
.news-item a:hover {
    color: #ababab;
}

.about {
   /*  width: 320px;
    height: 286px; */
   /*  margin-left: 20px;
    float: left */
}

.about-pic {    
  /*   border: 2px solid #e7e7e7; */
    margin-bottom: 0px;
   /*  height:250px; */
}

.about-con {
	margin-top:20px;   
    width:400px;
    color: #222222;
    line-height: 24px;
    text-indent: 25px;
    font-size:16px;
}


.section-product {
    width: 100%;
    margin-bottom: 10px;
    background:#AAAAAA;
    clear: both
}

.section-anlie{
	width: 100%;
	height:560px;
    margin-bottom: 10px;
    background:#AAAAAA;
    clear: both
}

.pro {
    width: 100%;   
    overflow: hidden;
    clear: both
}

.pro-pic {
    width: 235px;
    height: 185px;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    _display: inline;
    position: relative;
    *position: static
}

.pro-pic a, .pro-pic a img {
    *width: 100%;
    *height: 152px;
}

.pro-pic span {
    width: 235px;
    height: 33px;
    line-height: 33px;
    text-align: center;
    display: block;
    color: #AAAAAA;
    background: #676767;
    position: absolute;
    font-size:18px;
    left: 0;
    bottom: 0;
    *position: static
}

.table .hover span {
    background: #005bac
}

.chinamap{
	width:100%;
	height:560px;
}

.effectShow{
	position:absolute; 
	top:120px; 
	left:280px; 
	z-index:1;
}

#imgCom{
	margin-top:90px;
	background:#AAAAAA; border-right:2px solid #AAA; border-left:2px solid #AAA; 
}
#slider{
	/* border:1px solid red; */
	
}
.certificate{
	padding-top:140px;	
	font-size:18px;
	color: #222222;
	font-weight:bold;	
}

.certificate ul{
	padding-left: 5px;  
}

.certificate ul li
{
	list-style: none;
}
.certificate ul li span
{
	font: 14px "Microsoft YaHei";
   color: #3da100;
   font-weight: bold;
    height: 29px;
    line-height: 29px;
    overflow: hidden;
    white-space: nowrap;
}


  /* 定义thumbnail */

    .thumbnail{
        position:relative;
        overflow: hidden;
        height:400px;          
        margin-bottom:0;      
    }
    .thumb-intro{
    	position:relative;    	
    	background:rgba(0, 0, 0, 0.5);
    	font-size:18px;
    	text-align:center;
    	padding:10px;
    }    
    
    .thumbnail img{
     	*margin-top:expression((400 - this.height )/2)
     	vertical-align:middle;     	
    }

    /* 定义图片说明 */
    .caption{
        position: absolute;
        top:0;
        left:0;
        background:rgba(0, 0, 0, 0.5);
        width: 100%;
        height: 100%;
        padding: 2%;
        display: none;
     
        color:#fff !important;
        z-index: 1;
    }
    .caption h5{
       text-align: center;
    	padding-top:50px;
    	font-size:20px;
    	font-weight:bold;
    }
    
    .caption p{
    	font-size:14px;
    	font-weight:bold;
    	padding-top:30px;
    	padding-left:15px;
    	padding-right:15px;
    }

   