.chuangtouFooter {  
    height: 130px;
    width: 100%;
}
.chuangtouFooter p {
    margin: 0;
}
.chuangtouFooter .container {
    padding-top: 30px;
    text-align: center;
}
.chuangtouFooter .container p.title {
    color: #ffffff;
    font-size: 15px;
}
.chuangtouFooter .container p.title i {
 /*    color: #cececd; */
}

.chuangtouFooter .contactDiv {
    margin: 10px auto;
    overflow: hidden; 
}



