@charset "UTF-8";

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0;
}

body .index .fixed {
	position: fixed;
	left: 0;   
    top: 0;
    width: 100%;
    z-index: 1000;
}

.index .fixed li{
	position:relative;
	line-height: 30px;
}

.index .fixed li a{
	font-size:16px;
	color:#ffffff;
	font-weight:bold;
}

.nav-row{
	margin:0 auto;
}
.nav-bar{
	text-align:center;
}
#header{
	background-color:#222222;
}

#header ul.nav-link{
	margin:0 auto;
}
#header ul.nav-link > li{
	 float: left;
}
#header ul.nav-link > li > a{
	 position: relative;
}
#header ul.nav-link > li > a:hover{
	 background-color: #75c8e6 !important;
     transition: all 0.5s ease 0s;
}
#header ul.nav-link > li > a:hover::before{
	 background-color: #75c8e6 !important;
     transition: all 0.5s ease 0s;
}
#header ul.nav-link > li > a::before{
	content: "";
    height: 2px;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    top: -2px;
    width: 100%;
}

.dropdown-menu-custom {
    background-clip: padding-box;
    background-color: #222;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    display: none;
    float: left;
    left: 0;
    margin: 0;
    min-width: 160px;
    position: absolute;
    top: 50px;
    z-index: 1000;
}
.dropdown-menu-custom li a {
    color: #75c8e6;
    display: block;
    padding: 8px 7px;
}
.dropdown-menu-custom li:hover {
   background-color: #75c8e6;
}
.dropdown-menu-custom li a:hover {
    background: #75c8e6;
    color: #fff;
    text-decoration: none;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: #75c8e6;
    border-color: #337ab7;
}

