body {
    background-color: #EDEDED;
    background-image: url("/website/css/img/loginBackground.png");
    overflow: visible;
    position: relative;
}

* {
    margin: 0;
}
.signup{
    margin: 0 auto;
    position: relative;
}

.signup .block {
    background-color: #69A6D7;  
   /*  border-radius: 6px; */
   /*  box-shadow: 0 0 2px rgba(200, 200, 200, 0.75); */
    font-size: 12px;
    margin: 30px auto 0;
    overflow: hidden;
    padding: 30px 0px;
    position: relative;
    max-width:550px;
    min-height:600px;
    text-align:center;
}

.header .center-content{
    min-height: 60px;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    color: inherit;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
}

.signup .welcome{
    text-align: center;
    color:#fff;
    font-size: 30px;
}
.nav-tablist{
    padding-left:50px;
    margin-top:60px;
}
.nav-tablist li{
    width:233px;
    background-color:#fff;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
    background-color: #DEEEF9;
    color: #5BB9FF;
}
.register-form {
    max-width: 500px;
    padding: 55px;
    margin: 0 auto;
}

.register-form input{
	background-color:#69A6D7;
	border:1px solid #FFFFFF;
}

.register-form a{
	  color: #fff;
}
.register-form .checkDiv{
	margin-top:50px;
}
.register-form .checkCodeDiv{		
	margin-left: -15px;
    margin-right: -15px;	
}
.register-form .checkCodeDiv input{
	float:left;
}
.register-form .checkCodeDiv .form-control_code{
	background-color:#69A6D7;
	border:1px solid #FFFFFF;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    display: block;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 40%;  
}
#verifycodeBtn,#verifycodeBtn2{
	margin-left:10px;
}
.form-horizontal .control-label {
    padding-top: 7px;
    margin-bottom: 0;
    text-align: left;
  }
  
.form-control_code::-moz-placeholder,.form-control::-moz-placeholder {
    color: #fff;
    opacity: 1;
}
.form-control_code::-webkit-input-placeholder,.form-control::-webkit-input-placeholder {
	color:#fff;  
	opacity: 1;
}
.form-control_code:-ms-input-placeholder,.form-control:-ms-input-placeholder { 
	color:#fff;  
	opacity: 1;
}